:root {
    --color1: #2A0944;
    --color2: #3B185F;
    --color3: #A12568;
    --color4: #FEC260;
    --color5: #7E7E7E;
    --color6: #D9D9D9;
    --main-font: 'Orbitron';
    --secondary-font: 'Ubuntu';
  }